extends layout

block content
	h2 Popular Memes
	section#boards
		each meme in memesByFaves
			article
				img.responsive(title=meme.image_title, src=meme.image_url, onerror="this.src='/public/images/meme_placeholder.jpg'")
				h3= meme.image_title
				p
					a(href="/board/"+meme.screen_name)= 'Posted by '+meme.screen_name
				footer
					figure
						figcaption(data-faves=meme.image_faves)
						time= meme.image_created
					if( memberRole != 'public' && memberInfo.screen_name != meme.screen_name )
						aside
							form(method="post", action="/board/"+memberInfo.screen_name+"/image/"+meme._id+"/fave")
								button.btn(type="submit")= meme.image_faves
							form(method="post", action="/board/"+memberInfo.screen_name+"/image/"+meme._id+"/grab")
								button.btn.btn-secondary(type="submit") Add to Board