extends layout

block content
	h2=  title
	section#boards
		each meme in memberMemes
			article
				img.responsive(title=meme.image_title, src=meme.image_url)
				h3= meme.image_title
				footer
					figure
						figcaption(data-faves=meme.image_faves)
						time= meme.image_created
		else
			article
				img.responsive(src="public/images/meme_placeholder.png")
				h3 Hmm, nothing here to see!
				a(href="/") Back to the home page